<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cj.getnews"
    android:versionCode="1"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
     >
        <activity
            android:name="com.cj.getnews.MainActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.DeviceDefault" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="DetalsActivity" android:theme="@android:style/Theme.DeviceDefault" android:exported="true">
            <intent-filter>
                <action android:name="com.cj.getnews.DetalsActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"/>
                
            </intent-filter>
        </activity>
    </application>

</manifest>
